<div class="container">
  <p class='top'>Please find the RSVP list below--</p>
  <table>
    <tr>
      <th class="shortrow">Name</th>
      <th class="shortrow">Preference #1</th>
      <th class="shortrow">Preference #2</th>
      <th class="longrow">Notes</th>
      <th class="shortshortrow"></th>
    </tr>
  <% @users.each do |user| %>
    <tr>
      <td class="shortrow"><%= user.name %></td>
      <td class="shortrow"><%= user.pref1 %></td>
      <td class="shortrow"><%= user.pref2 %></td>
      <td class="longrow"><%= user.notes %></td>
      <td class="shortshortrow"><a href='/users/<%= user.id %>/edit'>edit</a></td>
    </tr>
  <% end %>
  </table>

  <p class='middle'><a href='/'>Home</a></p>
</div>
