<div class="container">

<p class='toptop'>Please update any information below--</p>

  <%= form_for :user, url: "/users/#{@user.id}", method: 'patch' do |f| %>

  <p>
    <%= f.label :name, "Name: (full name, please!)" %><br>
    <%= f.text_field :name, class: 'textbox' %>
  </p>

    <p>
    <%= f.label :pref1, "Pizza Topping Preference #1:" %><br>
    <%= f.select :pref1, options_for_select([[''],
                                            ['Cheese'],
                                            ['The Malnati Chicago Classic'],
                                            ['The Lou'],
                                            ['Pepperoni'],
                                            ['Sausage'],
                                            ['Mushrooms'],
                                            ['Onions'],
                                            ['Green Peppers'],
                                            ['Black Olives'],
                                            ['Sliced Roma Tomatoes'],
                                            ['Extra Cheese'],
                                            ['Garlic'],
                                            ['Hot Giardiniera']]) %>
  </p>


   <p>
    <%= f.label :pref2, "Pizza Topping Preference #2:" %><br>
    <%= f.select :pref2, options_for_select([[''],
                                            ['Cheese'],
                                            ['The Malnati Chicago Classic'],
                                            ['The Lou'],
                                            ['Pepperoni'],
                                            ['Sausage'],
                                            ['Mushrooms'],
                                            ['Onions'],
                                            ['Green Peppers'],
                                            ['Black Olives'],
                                            ['Sliced Roma Tomatoes'],
                                            ['Extra Cheese'],
                                            ['Garlic'],
                                            ['Hot Giardiniera']]) %>
  </p>

   <p>
    <%= f.label :notes, "Notes: (i.e. dietary restrictions, amazing 4-topping combination everyone needs to know about?)" %><br>
    <%= f.text_area :notes, class: 'textarea' %>
  </p>

  <p>
    <%= f.submit "Update!", class: 'submitbutton'%>
  </p>
<% end %>

</div>
