<div class="container">
  <p class='toptop'>Hi. This Thursday, June 12, is my birthday. I'll be 27 years old.  I'd love if you could celebrate with me.</p>

  <h4>Background</h4>
  <p>Final projects start the day prior, so I think it would be hard to pull people together for a night out.  Therefore, the plan is to celebrate in our space here at DBC.  (Also--it'll be more fun.)</p>

  <p>I bet you haven't been to a Pizza Party Birthday in a while (20 years?)!  I've really been digging the deep dish here in Chicago, so I'm going to order from the place I like the most--Lou Malnati's (I really like the hot dogs in Chi-town too, but that's besides the point).  If you're available/interested in coming, just click through to the following page and let me know your preferences.</p>

  <h4>The Important Stuff (Logistics)</h4>
  <p>Sign up here so I know how much food to order.  I'll get one pie for every 4 people, which should be more than enough.  Because I'm not as nice as <%= link_to "Tom", "https://github.com/githop" %>, you need to pay to play.  It should be less than $7 per person--I'll do my best to get a bunch of small bills for change.  I'll have a list--so no cheating.</p>

  <p>I'll order the food to get here around 6:30, which is when DBCx should end.  I'll try to set up near the back couches.  Any questions?--just ask.</p>

  <p>Be cool.  Don't sign up and then not come.  Don't not sign up and then come.</p>

  <hr>
  <p>So... <%= link_to "to RSVP click here", :users %></p>

  <p>And... <%= link_to "to see a list of people already coming and their preferences, click here.", :users_all %></p>
  <hr>

  <h4>About the app</h4>
  <p>I wanted experience building a simple Rails app this weekend.  For reasons still unclear (kidding!), last week was mostly spent on integrated testing.  This app features no testing!  Also--this is my first time pushing a Rails app to Heroku.</p>

  <p>To answer the flood of questions before they come in: Yes!, this project is open-source.  You can use it for your next pizza birthday party here--<a href='https://github.com/common-nighthawk/dd_bday'>https://github.com/common-nighthawk/dd_bday</a>.

  <h4>More</h4>
  <p>I don't know why, but 27 seems like a long way from 26.  So now, for additional reasons that are unclear, I'll tell you more about myself (with pictures).  Because, well, let's get to know each other better--</p>

  <p>This is what I looked like when I was little--</p>
  <%= image_tag("babyd.jpg", :alt => "baby", :class => 'photo') %>

  <p>And here's anther.  Majr props to my mother for figureing out how to send digital pictures today!--</p>
  <%= image_tag("babydd.jpg", :alt => "baby too", :class => 'photo') %>

  <p>The best job I ever had was lifeguarding.  And the best hat I ever had was this orange one--</p>
  <%= image_tag("lifeguard.jpg", :alt => "lifeguard", :class => 'photo') %>

  <p>This is what I looked like in college.  I was the coolest kid in Philadelphia from 2005 to 2009--</p>
  <%= image_tag("college.jpg", :alt => "college", :class => 'photo') %>

  <p>I traveled through South Americ once, in 2009.  I bought a new pair of sandals on my first day there--</p>
  <%= image_tag("south_america.jpg", :alt => "south america", :class => 'photo') %>

  <p>I lived in Israel for half of 2010.  I wish I rode a camel to work each day, but I did ride one once--</p>
  <%= image_tag("camel.jpg", :alt => "camel", :class => 'photo') %>

  <p>I can fit into spaces smaller than you'd expect--</p>
  <%= image_tag("turtle1.jpg", :alt => "turtle1", :class => 'photo') %>
  <%= image_tag("turtle2.jpg", :alt => "turtle2", :class => 'photo') %>

  <p>This llama is my spirit animal--</p>
  <%= image_tag("llama.jpg", :alt => "llama", :class => 'photo') %>

  <p>I went to Costa Rica for a week in 2013--</p>
  <%= image_tag("costa_rica.jpg", :alt => "costa rica", :class => 'photo') %>

  <p>And Puerto Rico in 2014.  I had the best cup of coffee I've ever had there--</p>
  <%= image_tag("coffee.jpg", :alt => "coffee", :class => 'photo') %>

  <p>I am often confused with this statue in Millennium Park--</p>
  <%= image_tag("millennium.jpg", :alt => "millennium", :class => 'photo') %>

  <p>I once rented a DIVY--</p>
  <%= image_tag("divy.jpg", :alt => "divy", :class => 'photo') %>

  <p>I like crappy music and inspirational videos more than <%= link_to "Mike", "https://github.com/mikelikesbikes" %> likes bikes--</p>

  <iframe width="200" src="//www.youtube.com/embed/cRMevGc3934" frameborder="0" allowfullscreen></iframe>
  <iframe width="200" src="//www.youtube.com/embed/7zxXAtmmLLc" frameborder="0" allowfullscreen></iframe>
  <iframe width="200" src="//www.youtube.com/embed/QJO3ROT-A4E" frameborder="0" allowfullscreen></iframe>

  <p>I got 99 problems, but my girlfriend is awesome--</p>
  <%= image_tag("kat.jpg", :alt => "kat", :class => 'photo') %>


  <br><br><br><br><br><br><h4>One more time...</h4>

  <p><a href='/users'>To RSVP click here.</a></p>
  <p><a href='/users/all'>To see a list of people already coming and their preferences, click here.</a></p>

</div>
